Q4

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By

In [2]:
driver = webdriver.Chrome()

In [3]:
driver.get("https://www.flipkart.com")

In [4]:
product=driver.find_element(By.CLASS_NAME,"Pke_EE")
product.send_keys('Sneakers')

In [5]:
search=driver.find_element(By.CLASS_NAME,"_2iLD__")
search.click()

In [6]:
brand_title=[]
product_description=[]
price_tag=[]

In [7]:
start=0
end=3

for page in range(start,end):
    title=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in title:
        brand_title.append(i.text)
    description=driver.find_elements(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[2]/div/div[1]/div/div/a[1]')
    for i in description:
        product_description.append(i.text)
    tag=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in tag:
        price_tag.append(i.text)

In [8]:
print(len(brand_title),len(product_description),len(price_tag))

120 3 120

In [10]:
df=pd.DataFrame({'Title':brand_title,'Tag':price_tag})
df

          Title     Tag
0            TR    ₹329
1     Ego by NS    ₹291
2      URBANBOX    ₹299
3      RED TAPE  ₹1,179
4     Deals4you    ₹399
..          ...     ...
115      Labbin    ₹649
116  pollachief    ₹538
117        ATOM  ₹1,548
118  HIGHLANDER    ₹569
119        aadi    ₹299

[120 rows x 2 columns]

In [11]:
df[:100]

         Title     Tag
0           TR    ₹329
1    Ego by NS    ₹291
2     URBANBOX    ₹299
3     RED TAPE  ₹1,179
4    Deals4you    ₹399
..         ...     ...
95     CCICACO    ₹429
96  Mark Range    ₹899
97         SFR    ₹301
98       Hilux    ₹499
99      BRUTON    ₹296

[100 rows x 2 columns]

Q5

In [12]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By

In [13]:
driver = webdriver.Chrome()

In [14]:
driver.get("https://www.amazon.com")

In [18]:
#enter the designation
designation=driver.find_element(By.CLASS_NAME,"nav-search-field ")
designation.send_keys('Laptop')

ElementNotInteractableException: Message: element not interactable
  (Session info: chrome=122.0.6261.129)
Stacktrace:
	GetHandleVerifier [0x00007FF76BFBAD02+56930]
	(No symbol) [0x00007FF76BF2F602]
	(No symbol) [0x00007FF76BDE419D]
	(No symbol) [0x00007FF76BE249E7]
	(No symbol) [0x00007FF76BE23662]
	(No symbol) [0x00007FF76BE4BC9A]
	(No symbol) [0x00007FF76BE1F09A]
	(No symbol) [0x00007FF76BE4BEB0]
	(No symbol) [0x00007FF76BE681E2]
	(No symbol) [0x00007FF76BE4BA43]
	(No symbol) [0x00007FF76BE1D438]
	(No symbol) [0x00007FF76BE1E4D1]
	GetHandleVerifier [0x00007FF76C336F8D+3711213]
	GetHandleVerifier [0x00007FF76C3904CD+4077101]
	GetHandleVerifier [0x00007FF76C38865F+4044735]
	GetHandleVerifier [0x00007FF76C059736+706710]
	(No symbol) [0x00007FF76BF3B8DF]
	(No symbol) [0x00007FF76BF36AC4]
	(No symbol) [0x00007FF76BF36C1C]
	(No symbol) [0x00007FF76BF268D4]
	BaseThreadInitThunk [0x00007FF90AF6257D+29]
	RtlUserThreadStart [0x00007FF90C04AA58+40]